body {
    background-color: black; 
}

h1, h2, h3, h4, h5 {
    color: white;
}

.navbar a{
    color: grey;
    font-weight: 600;
}

.genres p {
    color: white;
    padding: 10px 0;
}

.icons-top p{
    color: grey;
}

.icons-top > div {
    border: 2px solid grey;
}

footer p {
    color: grey;
}

.carousel-item img {
    width: 75%;
}

@media screen and (min-width: 768px) {
    .carousel-item img {
        width: 15%;
    }
}



/* PROFILE  */

#mainProfile {

  background-color: white !important;
}

#row1 {
    border-bottom: 1px solid gray;
}

#row2 {
    border-bottom: 1px solid gray;
}

/* ACCOUNT */

#colonna_di_mezzo{
    border-bottom: 1px solid gray;
    display: inline-block;
}
#borderTopAccount {
    border-top: 1px solid gray;
    padding-top: 20px;
}
#bg_color_gray{
    background-color: gray;
    width: 18%;
    padding: 5px;
}

#label1{
    width: 25%;
}

.labelBorder{
    border-bottom: 2px solid gray;
}



  